body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
}

h1 {
  margin: 4px 0;
  font-size: 36px;
}

footer {
  font-size: 10px;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  position: relative;
}

#back-btn {
  position: absolute;
  left: 1em;
  top: 0.5em;
}

#source-link {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.incorrect,
.correct,
.present,
.absent {
  color: #fff !important;
}

.grow {
  opacity: 0.69;
  transition: all .2s ease-in-out;
}
.grow:hover {
  opacity: 1;
  transform: scale(1.02);
}

.hidden {
  color: #696969 !important;
  background-color: #696969 !important;
}

.correct {
  background-color: #6aaa64 !important;
}

.present {
  background-color: #c9b458 !important;
}

.incorrect {
  background-color: #ff4851 !important;
}

.absent {
  background-color: #787c7e !important;
}

